.leagues {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

@media only screen and (max-width: 700px) {
  .leagues {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
@media only screen and (max-width: 500px) {
  .leagues {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
